@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
body,
html {
  height: 100%;
  width: 100%;
}

:root {
  font-family: "FF Nort";
  font-weight: 400;
  background-color: #ece8e1;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "FF Nort";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
}

h2 {
  font-family: "FF Nort";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25rem;
}

@layer base {
  @font-face {
    font-family: "FF Nort";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(/fonts/FFNort-Regular.otf) format("opentype");
  }

  @font-face {
    font-family: "FF Nort";
    font-style: bold;
    font-weight: bold;
    font-display: swap;
    src: url(/fonts/FFNort-Bold.otf) format("opentype");
  }
}
