@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
body,
html {
  height: 100%;
  width: 100%;
}

:root {
  font-family: "FF Nort";
  font-weight: 400;
  background-color: #ece8e1;
  /* background-color: white; */
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "FF Nort";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
}

h2 {
  font-family: "FF Nort";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25rem;
}

@keyframes slide {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(-270%);
  }
}

@keyframes slide-meow {
  0% {
    transform: rotate(90deg) translateX(-200%);
  }
  100% {
    transform: rotate(90deg) translateX(180%);
  }
}

.outline-slide {
  display: inline-flex;
  animation: slide 9s linear infinite;
}

.outline-slide-2 {
  display: inline-flex;
  animation: slide 9s linear infinite;
  animation-delay: 3s;
}

.outline-slide-3 {
  display: inline-flex;
  animation: slide 9s linear infinite;
  animation-delay: 6s;
}

.meow-slide {
  display: inline-flex;
  animation: slide-meow 36s linear infinite;
}

.meow-slide-2 {
  display: inline-flex;
  animation: slide-meow 36s linear infinite;
  animation-delay: 12s;
}

.meow-slide-3 {
  display: inline-flex;
  animation: slide-meow 36s linear infinite;
  animation-delay: 24s;
}

.beige-text-outline {
  /* color: #0504FE; */
  color: red;
  -webkit-text-stroke: 3px #ECE8E1;
  paint-order: stroke fill;
  /* opacity: 50%; */
  /* transform-origin: top left; */
  transform: rotate(90deg);
}

.blue-text-outline {
  color: #ECE8E1;
  -webkit-text-stroke: 3px #0504FE;
  color: #0504fe;
  -webkit-text-stroke: 3px #ece8e1;
  paint-order: stroke fill;
  opacity: 50%;
  transform-origin: top left;
}

@layer base {
  @font-face {
    font-family: "FF Nort";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(/fonts/FFNort-Regular.otf) format("opentype");
  }

  @font-face {
    font-family: "FF Nort";
    font-style: bold;
    font-weight: bold;
    font-display: swap;
    src: url(/fonts/FFNort-Bold.otf) format("opentype");
  }
}
